*{
    margin: 0%;
   padding: 0%;  
}
body{
    margin: 0%;
    padding: 0%; 
 }
.first-sec{
    display: flex;
    margin-left: 15%;
    margin-top: 20px;
 }
 .first-wraper{
    margin-right: 40px;
 }
 .first-wraper h6{
    font-size: 15px;
    margin-bottom: 16px;
 }
 .a1{
    margin-bottom: 32px;
 }
 .p2{
    margin-top: 20px;
 }
